* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 20px 60px;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  --primary: #020203;
  --secondary: #ff0101;
  --third: #e5e5e5;
  --fourth: #282d30;
}
